import os
import requests

UNITYSVC_API_KEY = os.getenv("UNITYSVC_API_KEY")

functions = [
    {
        "name": "count_gs",
        "description": "How does matrix multiplication work?",
        "parameters": {
            "type": "object",
            "properties": {
                "input_text": {"type": "string"}
            },
            "required": ["input_text"],
        },
    }
]

response = requests.post(
    f"{os.getenv('SERVICE_BASE_URL')}/chat/completions",
    headers={"Authorization": f"Bearer {UNITYSVC_API_KEY}"},
    json={
        "model": os.environ.get("MODEL", "{{offering.name}}"),
        "messages": [
            {"role": "user", "content": "How does matrix multiplication work?"}
        ],
        "functions": functions,
        "function_call": {"name": "count_gs"}
    },
)

print(response.json())
